/**
 * ThatGeekyWeeb
 * SquiddCordd
 * <https://github.com/ThatGeekyWeeb/>
 * <thatgeekyweeb@gmail.com>
 */
@import url("https://cdn.discordapp.com/attachments/729185721771884623/730137029215649822/style_part00.css");
@import url("https://cdn.discordapp.com/attachments/729185721771884623/730137033934373014/style_part01.css");
@import url("https://cdn.discordapp.com/attachments/729185721771884623/730137041135992902/style_part02.css");
@import url("https://cdn.discordapp.com/attachments/729185721771884623/730137045179039744/style_part03.css");
@import url("https://cdn.discordapp.com/attachments/729185721771884623/730137048798855289/style_part04.css");
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css");
@import url("https://gibbu.github.io/BetterDiscord-Themes/AdjustableServerWidth/base.css");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://zzzmario.github.io/modern-indicators/src/source.css");
@import url("https://raw.githack.com/YottaGitHub/Nord-Glasscord/blob/master/nord-glasscord.theme.css");
@font-face {
    font-family: 'Fondamento', cursive;
}
:root {
    --Chat-Font-Used: 'Fondamento', normal;
    --Chat-Font-Size: 15.5px;
}
body {
	border-radius: 250px !important;
	overflow: hidden;
}

.platform-linux {
	background: none !important;
}

.scroller-2TZvBN {
	background: rgba(10, 10, 10, 0.5) !important;
	border-radius: 25px 0px 0px 25px;
}

.da-sidebar {
	background: rgba(10, 10, 10, 0.5);
	border-radius: 0px 25px 25px 0px;
	box-shadow: 38px 20px 46px -23px rgba(0, 0, 0, 0.27);
}

.sidebar-CFHs9e {
	border-radius: 25px;
	padding-right: 20px;
}

.webkit-HjD9Er {
  background: transparent;
	border-radius: 25px;
  box-shadow: 38px 20px 46px -23px rgba(0, 0, 0, 0.27);
}

.da-chat {
  background: rgba(10, 10, 10, 0.5);
	border-radius: 25px;
	margin-left: 10px;
	margin-right: 50px;
}

.membersWrap-2h-GB4, .da-members {
  box-shadow: 38px 20px 46px -23px rgba(0, 0, 0, 0.27);
}
